#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 400px;
}

#logo {
  padding-top: 10px;
  will-change: filter;
  transition: filter 300ms;
  width: 50%;
  height: 50%;
}

.segment {
  margin-bottom: 40px;
  margin-top: 40px;
}
